<% provide(:title, "よくある質問編集") %>
<p id="notice"><%= notice %></p>

<h1>よくある質問編集</h1>

<%= render 'form', question: @question %>

<%= link_to '詳細', @question %> |
<%= link_to 'よくある質問一覧へ', questions_path %>
