<% provide(:title, "まずはご相談") %>

<p id="notice"><%= notice %></p>

<h1>新規でショップ開設のご相談</h1>

<div class="center">
  <div class="discussion">
    <a href="/suports" class="btn-gradient-radius-blue">
    カスタマイズサポート&nbsp;<i class="fas fa-chevron-circle-right"></i>
    </a>
  </div>

  <div class="discussion">
    <a href="/suports" class="btn-gradient-radius-blue">
    顧客管理サポート&nbsp;<i class="fas fa-chevron-circle-right"></i>
    </a>
  </div>

  <div class="discussion">
    <a href="/suports" class="btn-gradient-radius-blue">
    集客サポート&nbsp;<i class="fas fa-chevron-circle-right"></i>
    </a>
  </div>
  <% if signed_in? %> <%# ログインしているかどうか %>
    <div class="discussion">
      <a href="/contacts" class="btn-gradient-radius-blue">
      お問い合わせ&nbsp;<i class="fas fa-chevron-circle-right"></i>
      </a>
    </div>
  <% end %>
</div>
