    <div class="f-container">
      <div class="f-item">
        <div class="box26">
          <div class="center">    
            <div class="f-container">
              <div class="f-item">
                <div class="right">
                  <a class="btn btn-icon btn-googleplus2" href="https://lin.ee/PrKWtcm">
                  <i class="fa fa-mobile">
                  </i><span>LINE@(店舗用)</span></a>
                </div>
              </div>
              <div class="f-item">
                <div class="right">
                  <a class="btn btn-icon btn-pinterest" href="https://lin.ee/Rtmhky1">
                  <i class="fa fa-mobile">
                  </i><span>LINE@(利用者様用)</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
