<% provide(:title, "Top") %>

<%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, width: "1150vw", height: "550vh", class: 'video-content') %>

<main class="scroll-container">
  <h1 id="home">ホーム</h1></br>
  <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %></h1></br>
  <h1 id="plan">プラン</h1></br>
  <h1 id="recommend">おすすめ店舗</h1></br>
  <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-link" %></h1></br>
  <h1 id="service">サービス</h1></br>
  <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-link" %></h1>
</main>
