<% provide(:title, "Top") %>

<main class="scroll-container">
  <h1 id="home">ホーム</h1></br>
  <h1 id="category">カテゴリー</h1></br>
  <h1 id="plan">プラン</h1></br>
  <h1 id="recommend">おすすめ店舗</h1></br>
  <h1 id="service">サービス</h1></br>
  <h1 id="inquiry">お問い合わせ</h1>
</main>
