<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>新規経営者のアカウント登録がありました。</h1>
  
    <p>
      管理者としてこのサイトにログインするには、下記をクリックしてください。
    </p>
    <p><%= @url %></p>
    <p>
      新規オーナー名: <%= @owner.name %>
    </p>
    <p>
      新規オーナーメールアドレス: <%= @owner.email %>
    </p>
  </body>
</html>
