<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @owner.name %>様、巡グルメへようこそ。</h1>
    <p>
      巡グルメへのサインアップが成功しました。
    </p>
    <p>
      この度はアカウント登録頂きましてありがとうございます。
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>
      ユーザー名: <%= @owner.name %>
    </p>
    <p>
      メールアドレス: <%= @owner.email %>
    </p>
  </body>
</html>
