<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %>様、今までのご利用ありがとうございました。</p>
    <p>またのご利用をお待ちしております。</p>
  </body>
</html>
