<div>
  <%= link_to "加盟店審査へ", new_owner_subscription_path(current_owner), class: 'btn btn-default' %>
</div>
<div>
  <%= link_to "個人店審査へ", new_owner_private_store_path(current_owner), class: 'btn btn-default' %>
</div>
<div>
  <%= link_to "個人店チケット購買者一覧へ", private_store_ticket_buyer_list_path(current_owner), class: 'btn btn-default' %>
</div>
