<div>
  <%= link_to "加盟店カスタマイズへ", subscription_judging_path(current_owner), class: 'btn btn-default' %>
</div>
<div>
  <%= link_to "個人店カスタマイズへ", private_store_judging_path(current_owner), class: 'btn btn-default' %>
</div>
