<div>
  <%= link_to "加盟店登録へ", new_owner_subscription_path(current_owner), class: 'btn btn-default' %>
</div>
<div>
  <%= link_to "個人店登録へ", new_owner_private_store_path(current_owner), class: 'btn btn-default' %>
</div>
