<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>中野様、新しいprivate_storeが作成されました。</h1>
    <p>
    　private_storeの金額を確認して下さい。<br>
      よろしければ、private_storeの商品IDを入力し、private_storeの新規作成を完了してください。<br>
    </p>
  </body>
</html>
