<% provide(:title, "解約ページ") %>

<p id="notice"><%= notice %></p>

<h1>解約について</h1>

<div class="col-sm-12">
  <h3 class="center">解約後は全てのデータが削除されますのでご注意ください</h3>
</div>
<div class="col-sm-12">
  <h1><%= button_to "解約する", owner_registration_path(resource_name), data: { confirm: "本当に解約してよろしいですか？" }, method: :delete, class:"btn btn-lg btn-default" %></h1>
</div>
<div class="col-sm-12">
  <h1><%= link_to "Myアカウントへ戻る", :back, class:"btn btn-lg btn-default" %></h1>
</div>
