<h1 class="brand-color display-4 mt-6 mb-6">利用者様検索結果</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "利用者様一覧へ戻る", users_path, class: "btn btn-gradient-radius mt-5 mb-8" %>