<div class="container my-5">


  <!--Section: Content-->
  <section class="text-center dark-grey-text">

    <!-- Section heading -->
    <h3 class="font-weight-bold pb-2 mb-4">サブスクプラン1</h3>
    <!-- Section description -->
    <p class="text-muted w-responsive mx-auto mb-5">サンプルコメント</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-4">
      </div>

      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Pricing card -->
        <div class="card pricing-card">

          <!-- Price -->
          <div class="price header white-text indigo rounded-top">
            <h2 class="number">サブスク1</h2>
            <div class="version">
              <h5 class="mb-0">サンプルカフェ</h5>
            </div>
          </div>

          <!-- Features -->
          <div class="card-body striped mb-1">

                <p class="mt-2"><i class="fa fa-check-circle fa"></i> チケットは1日に一回のみ使用できます。</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 一度使用すると当日は使用できません。</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 注意事項</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 注意事項</p>
            <button type="button" class="btn btn-outline-success btn-rounded waves-effect">チケットを使う</button>
          </div>
          <!-- Features -->

        </div>
        <!-- Pricing card -->

      </div>

      <div class="col-lg-4 col-md-6 mb-4">
      </div>

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>