<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>利用者ID: <%= @user.id %></p>
    <p>カスタマーID: <%= @user.customer_id %></p>
    <p>金額: <%= @user.price %>円</p>
  </body>
</html>
