<hr>
<div class="title_parent">
  <h2 class="title">会社概要</h2>
</div>
<hr>
<div class="box">
  <div class="container">
    <div class = "row parent">
      <div class = "col-sm-3 element1">会社名</div>
      <div class = "col-sm-9 element2">巡グルメ</div>
    </div>
    <div class = "row parent">
      <div class = "col-sm-3 element1">設立日</div>
      <div class = "col-sm-9 element2"></div>
    </div>
    <div class = "row parent">
      <div class = "col-sm-3 element1">管理者名</div>
      <div class = "col-sm-9 element2">中野優</div>
    </div>
    <div class = "row parent">
      <div class = "col-sm-3 element1">所在地</div>
      <div class = "col-sm-9 element2">神奈川県相模原市中央区共和1-6-8</div>
    </div>
    <div class = "row parent">
      <div class = "col-sm-3 element1">メールアドレス</div>
      <div class = "col-sm-9 element2">megurumee@gmail.com</div>
    </div>
    <div class = "row parent">
      <div class = "col-sm-3 element1">内容</div>
      <div class = "col-sm-9 element2">飲食店のためのサブスクリプション</div>
    </div>
  </div>
</div>
