<% provide(:title, "利用規約") %>

<div class="row">
  <div class="col-sm-12">
    <h5>利用規約</h5>
    <p>インターネットサービス「巡グルメ（めぐるめ）」（以下「本サービス」といいます）は、株式会社（以下「当社」といいます）が運営しています。当社は本サービスの利用者（以下「利用者」といいます）についての個人情報を含む利用者情報の取扱いについて、個人情報の保護に関する法律を遵守するとともに、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます）を定め、その管理と保護に努めます。</p>
    <h5>第1条（適用）</h5>
    <p>本規約は、本サービスの提供条件および本サービスの利用に関する本サービスの利用者と店舗（次条で定義します）と当社の権利義務関係を定めることを目的とし、利用者と店舗と当社との間の本サービスの利用にかかわる一切の関係に適用されます。</p>
    <h5>第2条（定義）</h5>
    <ul class="list-unstyled">
      <li>
        <span>本サービスにおいて、利用者から任意でご提供いただく情報</span>
        <ul>
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
        </ul>
      </li>
      <li>
    <h5>第3条（会員登録、パスワードおよびIDの管理）</h5>
      <ul>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
    </ul>
  </div>
</div>
