<% provide(:title, "利用規約") %>

<div class="row">
  <div class="col-sm-12">
    <h5 class="mt-4 mb-3 mt-md-5 mb-md-4">利用規約</h5>
    <h5 class="mt-4 mb-3 mt-md-5 mb-md-4">第１条（目的と定義）</h5>
    <p>1, 巡グルメ利用規約（以下「本規約」といいます）は、サブスクリプション方式の飲食店利用サービス「巡グルメ」（以下「本サービス」といいます）について、本サービスの提供を行う運営者（以下「運営者」といいます）が、利用条件を定めるものです。</p>
    <p class="mt-4 mb-3 mt-md-5 mb-md-4">2, 本規約における用語は、以下の定義であるものとします。</p>
    <ol>
      <li>① 「会員登録希望者」：本サービスを利用しようとする方をいいます。</li>
      <li>② 「会員」：第２条の会員資格が付与され、本サービスを利用できる方をいいます。</li>
      <li>③ 「飲食等」：店内の飲食及びテイクアウトをいいます。</li>
      <li>④ 「サブスクリプション方式」：毎月の定額料金を支払うことにより、当該定額料金を支払っている範囲及び期間に限って特定の飲食店で飲食等をする権利を取得し、当該飲食店で毎回の飲食代金を支払うことなく飲食等ができる方式をいいます。本規約においては単に「サブスク」と表記します。</li>
      <li>⑤ 「サブスクサービス」：本サービスのうち、会員がサブスクでの飲食等をすることを可能とするサービスをいいます。</li>
      <li>⑥ 「サブスク利用者」：サブスクサービスを利用する会員をいいます。</li>
      <li>⑦ 「登録飲食店」：サブスクサービスに基づき飲食等を提供するために、本サービスに登録した飲食店の会員をいいます。</li>
      <li>⑧ 「サブスク料金」：登録飲食店が定める毎月の定額料金（消費税込み）をいいます。</li>
      <li>⑨ 「チケット」：本サービスを通じて登録飲食店がサブスク利用者に付与する電子的標章をいいます。</li>
    </ol>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第２条（会員資格等）</h5>
    <p>1, 会員登録希望者は、本規約並びに運営者の定めるプライバシーポリシー（以下「プライバシーポリシー」といいます）に同意のうえ、メールアドレス、電話番号等の運営者所定の情報（以下「会員情報」といいます）について、本サービスを通じて運営者に届け出るものとします。</p>
    <p>2, 登録飲食店になろうとする会員登録希望者は、会員情報に加え、登録飲食店の金融機関口座、運営者所定のSNSアカウントその他運営者の求める情報を届け出るものとします。</p>
    <p>3, 運営者は、本サービスの代金の精算に関する業務については、運営者指定の決済代行会社に委託するため、会員は、同社の決済システムを利用するために必要な手続きをあわせて行うものとします。また、会員は、本規約に定めた条件に基づく各種の代金を決済するために、運営者が会員のカード情報を運営者指定の決済代行会社を通じて当該カードの発行会社に送信することに同意するものとします。</p>
    <p>4, 運営者は、会員登録希望者について以下に該当すると判断した場合、会員としての資格（以下「会員資格」といいます）を付与しないことがあります。この場合、運営者は、会員資格を付与しなかった理由を開示する義務を負わないものとします。</p>
    <ol>
      <li>① 運営者指定の決済代行会社の登録が承認されず、又は決済が不能となった場合</li>
      <li>② 本規約に違反した事実がある場合</li>
      <li>③ 申請内容に虚偽が認められた場合</li>
      <li>④ 会員登録希望者がプライバシーポリシーに同意しない場合</li>
      <li>⑤ 民法に規定する制限行為能力者に該当し、法定代理人の同意等を得ていない場合</li>
      <li>⑥ 本規約に定める反社会的勢力に該当するおそれがあると運営者が判断した場合</li>
      <li>⑦ 会員としての適性を欠くと運営者が判断した場合</li>
    </ol>
    <p>5, 会員登録希望者の申込みについて、運営者が承諾することにより、本サービスの会員資格が付与されます。会員は、本サービスへのログインに必要な情報（以下「ログイン情報」といいます）を厳格に管理するものとし、会員以外の第三者に貸与、譲渡、名義変更、担保設定等の処分をしてはなりません。会員の故意又は過失によるログイン情報の第三者利用の結果として生じた損害については、全て会員の責任であるものとし、運営者は責任を負いません。</p>
    <p>6, 会員が任意で運営者所定のLINE@に登録した場合、運営者は当該会員に対する情報発信を行うことができるものとします。</p>
    <p>7, 会員は、運営者所定の方法で届けることにより、本サービスの利用を解約することができます。ただし、解約の届け出をした時点で、会員が運営者及び他の会員に対して負っている役務又は債務が残存する場合は、直ちに当該役務又は債務の履行を完了するものとし、かかる完了までは解約手続きは終了しないものとします。なお、サブスク利用者が解約を行った場合、チケットは無効となるものとし、運営者及び登録飲食店はサブスク料金の返金は行わないものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第3条(変更手続き)</h5>
    <p>会員は、会員情報その他本サービスへの登録情報に変更がある場合、遅滞なく運営者の定めた変更手続きをしなければならないものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第4条(サブスクサービス)</h5>
    <p>1, サブスクサービスの手順は、以下のとおりとし、詳細については、運営者が本サービスの運営サイトに公表するものとします。</p>
    <ol>
      <li>① 登録飲食店が、サブスク料金、サブスク料金で提供可能な商品、その他の留意点等の情報を登録飲食店専用ページ（以下「サブスクサイト」といいます）に登録する</li>
      <li>② サブスク利用者が、サブスクサイトにて、登録飲食店を指定のうえサブスクサービスを申し込み、登録飲食店がこれを承諾した場合、サブスク利用者と登録飲食店との間でサブスクに関する契約（以下「サブスク契約」といいます）が成立する</li>
      <li>③ サブスク利用者が登録飲食店に来店し、チケットを提示する</li>
      <li>④ 登録飲食店がチケットの使用を確認後、サブスク料金の範囲及び期間において、サブスク利用者に飲食等を提供する</li>
    </ol>
    <p>2, サブスク利用者は、毎月、登録飲食店が定めたサブスク料金について、運営者指定の決済代行会社を通じて決済を行うものとします。</p>
    <p>3, サブスク利用者は、サブスク契約を将来に向かって解約することはできるものとしますが、過去を含めたキャンセルをすることはできないものとします。このため、登録飲食店及び運営者は、サブスク利用者が支払ったサブスク料金について、サブスク利用者に対する返金は行わないものとします。</p>
    <p>4, 前項に関わらず、登録飲食店が休業、閉店、廃業等をとなった場合において、当該登録飲食店の他店舗や系列店舗等でも一切サブスクサービスの利用が不可能であり、やむを得ずサブスク料金の返金等が必要な場合は、当該サブスク利用者は、運営者に連絡を行うものとします。</p>
    <p>5, 飲食等に関するトラブル等の解決については、サブスク利用者と登録飲食店との間で行うものとし、運営者は、当該解決の過程について、一切関与せず、責任を負わないものとします</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第5条（サブスク料金の精算）</h5>
    <p>1, 登録飲食店は、運営者又は運営者指定の決済代行会社に対し、サブスク料金を代理受領する権限を付与するものとします。</p>
    <p>2, サブスク利用者による登録飲食店に対するサブスク料金の支払いは、運営者が登録飲食店に代わって受領し、運営者が登録飲食店に引渡すことにより行われるものとし、運営者がサブスク料金を受領した時点又はその他運営者が指定した時点で、サブスク利用者の登録飲食店に対するサブスク料金の支払いは完了したものとします。</p>
    <p>3, 登録飲食店は、サブスク料金に運営者所定の割合を乗じた金額（消費税込み。以下「決済手数料」といいます）について、サブスク料金から控除する方法により支払うものとします。サブスク料金から決済手数料を控除した金額を「受取料金」（消費税込み）といいます。</p>
    <p>4, 運営者は、受取料金について、毎月末で締め切り、翌25日（金融機関休業日の場合は翌営業日）において、運営者が代理受領した金銭の引き渡しとして、登録飲食店が指定した登録飲食店の金融機関口座（以下「指定口座」といいます）に振り込む方法によって支払うものとします。</p>
    <p>5, 前項の振り込みにおける振込手数料は登録飲食店の負担とし、運営者は受取料金から差し引くものとします。また、登録飲食店と指定口座は、同一名義でなければならないものとし、運営者は、異なる名義の口座に対しては、支払いを行わないものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第6条（チケット）</h5>
    <p>1, サブスク利用者は、チケットを提示することで、登録飲食店にて飲食等ができるものとします。ただし、サブスク利用者は、登録飲食店の混雑状況、開閉店状況は日々刻々と変化することを理解のうえ、常に当該登録飲食店の状況を尊重し、従うものとします。</p>
    <p>2, チケットは、サブスク料金の範囲及び期間においてのみ利用可能とします。</p>
    <p>3, サブスク利用者は、チケットを第三者に貸与や譲渡等を一切行ってはならず、必ず本人が利用しなければならないものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第7条（本サービス利用にあたっての留意事項）</h5>
    <p>1, 登録飲食店及びサブスク利用者は、それぞれの立場において、自己の責任に基づき、感染症の拡大を防止するために可能な限りの措置を行う義務を負うものとします。</p>
    <p>2, 登録飲食店は、提供食品の安全管理について食品衛生法その他関連法令を遵守することはもとより、食品表示法等に基づく適切な表示を行うものとします。また、登録飲食店が酒類を販売する場合においては、酒税法に基づき未成年への販売を制限するほか、適切な法定表示を行い、未成年の保護措置を徹底するものとします。</p>
    <p>3, 前項に限らず、登録飲食店の法令遵守に向けた取り組みは、登録飲食店自らが法律の義務に従って負うものであり、運営者は、登録飲食店の法令違反について、いかなる責任も負わないものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第8条 (禁止事項)</h5>
    <p>会員は、本サービスの利用にあたって、以下の行為をしてはなりません。</p>
    <ol>
      <li>1, 本サービス外での取引を誘引する行為</li>
      <li>2, サブスク利用者が登録店舗を誹謗中傷する行為</li>
      <li>3, サブスク利用者がチケットを第三者に貸与や譲渡等をする行為</li>
      <li>4, 感染予防に関する行政機関の要請等に反する多人数での会食行為</li>
      <li>5, 法令又は公序良俗に反する行為</li>
      <li>6, 会員を誤認させる表現をする行為</li>
      <li>7, 第三者になりすます行為</li>
      <li>8, 架空の契約行為</li>
      <li>9, 運営者、他の会員、第三者の知的財産権その他の権利を侵害する行為</li>
      <li>10, 運営者、他の会員、第三者に不利益、不快感を与える行為</li>
      <li>11, 虚偽又は事実と異なる情報を本サービスに登録する行為</li>
      <li>12, 本サービスに登録した情報を不正に改ざんする行為</li>
      <li>13, 運営者のシステムに負担をかける、又は障害等を発生させる行為</li>
      <li>14, 本サービスに支障を及ぼす行為</li>
      <li>15, 宗教活動又は宗教団体への勧誘行為</li>
      <li>16, 面識のない異性との出会いを目的とした行為</li>
      <li>17, その他運営者が不適切と判断する行為</li>
    </ol>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第9条(本サービスの停止等)</h5>
    <p>1, 運営者は、以下の各号いずれかに該当する場合、予告なく、本サービスの全部又は一部の提供を停止することができるものとします。</p>
    <ol>
      <li>① 緊急でコンピュータシステムの点検、保守を行う場合</li>
      <li>② 停電、サーバー故障等が発生した場合</li>
      <li>③ コンピュータ、通信回線等に不良がある場合</li>
      <li>④ 地震、落雷、火災等の不可抗力による場合</li>
      <li>⑤ その他運営者が必要と判断した場合</li>
    </ol>
    <p>2, 運営者は、会員が本規約の一つにでも違反するおそれを認めた場合、予告なく当該会員に対する本サービスの提供を停止すると共に、以下の対処を行うことができるものとします。</p>
    <ol>
      <li>① 会員資格を喪失させること</li>
      <li>② 会員情報を削除又は非公開の状態にすること</li>
    </ol>
    <p>3, 運営者は、前二条によって会員に生じた損害について、いかなる責任も負わないものとします。また、運営者は前条によって運営者に生じた損害について、会員及び会員であった者に対して請求することができるものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第10条 (権利の帰属)</h5>
    <p>1, 本サービスにおける著作権、商標権、意匠権、肖像権その他一切の権利については、本サービスに掲示される以前から会員又は第三者に帰属していたものを除き、全て運営者又は運営者に許諾した権利者に帰属するものとします。</p>
    <p>2, 会員は、前項に基づき、本サービスにおける運営者に帰属する権利を含む情報について、運営者に無断で使用、転用、転載、複製等を行ってはならないものとします。</p>
    <p>3, 会員は、本サービスに掲載した全ての情報の著作権（著作権法第27条、第28条の権利を含みます）、商標権、肖像権その他の権利について、運営者に対して無償で許諾するものとし、著作者人格権を行使しないものとします。</p>
    <p>4, 会員は、前項の情報について、第三者の権利を侵害していないことを保証するものとし、万一第三者とトラブル又は紛争（運営者に対するものを含みます）が生じた場合には、会員自らの責任と費用において解決するものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第11条（反社会的勢力排除）</h5>
    <p>1, 会員又は会員登録希望者は、自らが暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等社会運動標榜ゴロ又は特殊知能暴力団、その他これらに準ずる者(以下これらを「反社会的勢力」といいます）に該当しないこと、及び次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを確約します。</p>
    <ol>
      <li>① 反社会的勢力が経営を支配していると認められる関係を有すること</li>
      <li>② 反社会的勢力が経営に実質的に関与していると認められる関係を有すること</li>
      <li>③ 自己、自社若しくは第三者の不正の利益を図る目的又は第三者に損害を加える目的をもってするなど、不当に反社会的勢力を利用していると認められる関係を有すること</li>
      <li>④ 反社会的勢力に資金等を提供し、又は便宜を供与するなどの関与をしていると認められる関係を有すること</li>
      <li>⑤ 役員又は経営に実質的に関与している者が反社会的勢力と社会的に非難されるべき関係を有すること</li>
    </ol>
    <p>2, 会員又は会員登録希望者は、自ら又は第三者を利用して次の各号の一つにでも該当する行為を行わないことを確約します。</p>
    <ol>
      <li>① 暴力的な要求行為</li>
      <li>② 法的な責任を超えた不当な要求行為</li>
      <li>③ 取引に関して、脅迫的な言辞又は暴力を用いる行為</li>
      <li>④ 風説を流布し、偽計若しくは威力を用いて相手方の信用を毀損し、又は業務を妨害する行為</li>
    </ol>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第12条（秘密の保持）</h5>
    <p>会員は、本サービスにて知り得た運営者の営業秘密、会員情報、会員の技術等の情報について、第三者に漏洩又は開示（SNS等における公表を含みます）してはなりません。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第13条（免責事項）</h5>
    <p>1, 飲食時に感染症の拡大が発生し、当該飲食が本サービスの結果行われた飲食であったとしても、かかる感染症拡大と本サービスの利用とはいかなる合理的な因果関係も有さないものであり、運営者はいかなる責任も負わないものとします。</p>
    <p>2, 運営者は、会員が本サービスに登録した全ての情報に関して、その真実性、合法性、安全性等について、いかなる保証もせず、いかなる責任も負わないものとします。</p>
    <p>3, 運営者は、運営者が一般的なサービス業者として措置する程度の防止策を実施している場合において、なお回避が困難なウィルスやマルウェア等によって会員に損害が生じたとしても、いかなる責任も負わないものとします</p>
    <p>4, 運営者は、会員の機器又は通信回線等の障害、エラー、バグの発生等について一切責任を負わず、かかる状況等により会員又は第三者に生じた損害について、いかなる責任も負わないものとします。</p>
    <p>5, 運営者は、会員がURL等を書き込んだ結果、他の会員が当該URLのリンク先で被った損害について、いかなる責任も負わないものとします。</p>
    <p>6, 本規約に定めた運営者を免責する規定は、運営者に故意又は重過失が存する場合には適用しないものとします。また、本規約のいずれかの条項の一部が民法、消費者契約法その他の法令により無効、取消、又は差し止めとなった場合であっても、残部は継続して完全に効力を有するものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第14条（本サービス、本規約の変更）</h5>
    <p>1, 運営者は、いつでも本サービスの内容を変更できるものとします。かかる変更を行った際は、本サービスを通じて公表するものとし、公表後に会員が本サービスを利用した場合は、変更に同意したものとみなします。</p>
    <p>2, 運営者は、本規約の内容について、必要に応じて変更することができます。この場合、運営者は、変更後の本規約を所定の場所に公表するものとします。ただし、会員に不利益が生じる変更については、あらかじめ公表を行い一定期間経過後に行うものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第15条（個人情報の取扱い）</h5>
      <p>運営者は、会員の個人情報について、本規約及びプライバシーポリシーに従って取り扱うものとします</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第16条(準拠法及び管轄合意)</h5>
      <p>本規約は、日本法に基づき解釈されるものとします。会員と運営者の間で生じた一切の紛争については、訴額に応じて、運営者の住所地を管轄する地方裁判所又は簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>
      <p class="mb-5">以上</p>    
  </div>
</div>
