<% provide(:title, "プライバシーポリシー") %>

<div class="row">
  <div class="col-sm-12">
    <h5>プライバシーポリシー</h5>
    <p>インターネットサービス「巡グルメ（めぐるめ）」（以下「本サービス」といいます）は、中野優が運営しています。当方は本サービスの利用者（以下「利用者」といいます）についての個人情報を含む利用者情報の取扱いについて、個人情報の保護に関する法律を遵守するとともに、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます）を定め、その管理と保護に努めます。</p>
    <h5>第1条（収集する利用者情報および収集方法）</h5>
    <p>本ポリシーにおいて、「利用者情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他利用者のスマートフォン等の端末において利用者または利用者の端末に関連して生成または蓄積された情報であって、本ポリシーに基づき、当社が本サービスを通じて利用者から収集するものを意味するものとします。本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</p>
    <ul class="list-unstyled">
      <li>
        <span>本サービスにおいて、利用者から任意でご提供いただく情報</span>
        <ul>
          <li>
            <span>氏名</span>
          </li>
          <li>
            <span>電話番号</span>
          </li>
          <li>
            <span>メールアドレス</span>
          </li>
          <li>
            <span>利用者の住所</span>
          </li>
          <li>
            <span>お店の住所</span>
          </li>
          <li>
            <span>お顔写真</span>
          </li>
          <li>
            <span>その他当方が定める入力フォームに利用者が入力する情報</span>
          </li>
        </ul>
      </li>
      <li>
      <span>利用者が本サービスを利用するにあたって、当方が収集する情報</span>
      <ul>
        <li>
          <span>端末情報（端末ID、IPアドレス等）</span>
        </li>
        <li>
          <span>ログ情報（ウェブページへのアクセス情報であり、個人を特定するものではありません）</span>
        </li>
        <li>
          <span>Cookie</span>
        </li>
        <li>
          <span>位置情報</span>
        </li>
    </ul>
    <h5>第２条（利用目的）</h5>
    <p>本ポリシーにおいて、「利用者情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他利用者のスマートフォン等の端末において利用者または利用者の端末に関連して生成または蓄積された情報であって、本ポリシーに基づき、当社が本サービスを通じて利用者から収集するものを意味するものとします。本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</p>
    <ul class="list-unstyled">


  </div>
</div>