<% provide(:title, "プライバシーポリシー") %>

<div class="row">
  <div class="col-sm-12">
    <h5 class="mt-4 mb-3 mt-md-5 mb-md-4">プライバシーポリシー</h5>
    <p>インターネットサービス「巡グルメ（めぐるめ）」（以下「本サービス」といいます）は、中野優が運営しています。当方は本サービスの利用者（以下「利用者」といいます）についての個人情報を含む利用者情報の取扱いについて、個人情報の保護に関する法律を遵守するとともに、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます）を定め、その管理と保護に努めます。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第1条（収集する利用者情報および収集方法）</h5>
    <p>本ポリシーにおいて、「利用者情報」とは、利用者の識別に係る情報、通信サービス上の行動履歴、その他利用者のスマートフォン等の端末において利用者または利用者の端末に関連して生成または蓄積された情報であって、本ポリシーに基づき、当社が本サービスを通じて利用者から収集するものを意味するものとします。本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。</p>
    <ol>
      <li class="mb-3">
        本サービスにおいて、利用者から任意でご提供いただく情報
        <ul class="mt-2">
          <li>氏名</li>
          <li>電話番号</li>
          <li>メールアドレス</li>
          <li>利用者の住所</li>
          <li>お住まいの住所</li>
          <li>お店の住所</li>
          <li>お顔写真</li>
          <li>その他当方が定める入力フォームに利用者が入力する情報</li>
        </ul>
      </li>
      <li>
        利用者が本サービスを利用するにあたって、当方が収集する情報
        <ul class="mt-2">
          <li>端末情報（端末ID、IPアドレス等）</li>
          <li>ログ情報（ウェブページへのアクセス情報であり、個人を特定するものではありません）</li>
          <li>Cookie</li>
          <li>位置情報</li>
        </ul>
      </li>
    </ol>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第２条（利用目的）</h5>
    <ol>
      <li class="mb-3">利用者情報は、第2条2項に定めるとおり本サービスの提供のために利用されるほか、第2条3項に定めるとおり、その他の目的にも利用される場合があります。</li>
      <li class="mb-3">
        本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下のとおりです。
        <ul class="mt-2">
          <li>本サービスに関する本人確認、利用者属性に基づいたサービス提供等本サービスの提供、維持、保護および改善のため</li>
          <li>本サービスに関するアンケート調査の実施、抽選等の企画、利用者からのお問合せ等への対応のため</li>
          <li>本サービスに関する当社の利用規約、プライバシーポリシー等（以下「規約等」といいます）変更などを通知するため</li>
          <li>キャンペーン等の実施および当選の連絡、商品等の発送を行うため</li>
          <li>本サービスに関する当社の規約等に違反する行為に対する対応のため</li> 
          <li>上記の利用目的に付随する利用目的のため</li>
        </ul>
      </li>
      <li class="mb-3">
        上記第2条2項以外の利用目的と対応する利用者情報の項目は以下のとおりです。
        <ul class="mt-2 mb-2">
          <li>
            本サービスに関連して、個人を識別できない形式に加工した統計データを作成するため
            <ol style="list-style-type: lower-alpha">
              <li class="mt-2">お住まいの都道府県</li>
              <li>その他当社が定める入力フォームにユーザーが入力する情報</li>
              <li>端末情報</li>
              <li>ログ情報</li>
              <li>Cookie</li>
              <li class="mb-2">位置情報</li>
            </ol>
          </li>
          <li>
            当方または第三者の広告の配信または表示のため
            <ol style="list-style-type: lower-alpha">
              <li class="mt-2">お住まいの都道府県</li>
              <li>端末情報</li>
              <li>ログ情報</li>
              <li>Cookie</li>
              <li class="mb-2">位置情報</li>
            </ol>
          </li>
          <li>
            その他マーケティングに利用するため
            <ol style="list-style-type: lower-alpha">
              <li class="mt-2">メールアドレス</li>
              <li>お住まいの都道府県</li>
              <li>その他当社が定める入力フォームにユーザーが入力する情報</li>
              <li>端末情報</li>
              <li>ログ情報</li>
              <li>Cookie</li>
              <li class="mb-2">位置情報</li>
            </ol>  
          </li>
        </ul>
      </li>
    </ol>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第3条（通知・公表または同意取得の方法、利用中止要請の方法）</h5>
    <p>利用者は、本サービスの所定の設定を行うことにより、利用者情報の一部または全部についてその利用の停止を求めることができ、この場合、当社は速やかに、当社の定めるところに従い、その利用を停止します。なお利用者情報の項目によっては、その収集または利用が本サービスの前提となるため、当社所定の方法により本サービスを退会した場合に限り、当社はその収集を停止します。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第4条（第三者提供）</h5>
    <p>当方は、第2条2項の利用目的の範囲内において、利用者の同意を得た場合に限り提供することがあります。ただし、次に掲げる場合は、この限りではありません。</p>
    <ol>
      <li>当方が利用目的の達成に必要な範囲内において個人情報の取扱いの一部または全部を委託する場合</li>
      <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
      <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合</li>
      <li>その他、個人情報保護法その他の法令で認められる場合</li>
    </ol>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第5条（個人情報の開示、訂正および利用停止等）</h5>
    <p>当方は、利用者から個人情報保護法の定めに基づき個人情報に関する開示、訂正、利用停止等を求められたときは、ご本人であることの確認を行った後に法令の定めに従い適正に対応致します。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第6条（お問合せ窓口）</h5>
    <p>ご意見、ご質問、苦情のお申し出その他利用者情報の取扱いに関するお問合せは、下記の窓口までお願い致します。</p>
    <p>xxx@xxx.com</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第7条（プライバシーポリシーの変更手続）</h5>
    <p>当方は、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、当社の判断により、利用者への予告なく、必要に応じて、本ポリシーを変更することがあります。尚、変更後のポリシーは、当社が別途定める場合を除いて、本サービス上に本ポリシーを表示した時点より効力を生じるものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第8条（リンク先における個人情報の保護）</h5>
    <p>本サービスからリンクするウェブサイトにおける個人情報の安全確保については責任を負うことはできません。リンク先の個人情報保護につきましては、当該リンク先におけるプライバシーポリシー等を利用者ご自身でご確認いただきますようお願い致します。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第9条（個人情報の安全管理措置・体制）</h5>
    <p>当方は個人情報保護管理者を置き、取扱う個人情報の漏えい、滅失・毀損の防止、その他の個人情報の安全管理の為に必要かつ適切な措置を講じるものとします。</p>
    <h5 class="mt-3 mb-3 mt-md-4 mb-md-4">第10条（通信上のセキュリティについて）</h5>
    <p>当方は、利用者から個人情報を収集させていただく場合は、その個人情報を安全に送受信するため、Secure Socket Layer(SSL)というプロトコルにより暗号化して送信する環境を提供しております。ご送信いただく情報はSSLにより暗号化され、第三者によって読み取られることはありません。（※完全な安全性を保証するものではありません）ただし、利用者がブラウザの設定を無効にされている場合、ブラウザのバージョンが古い場合などはSSL機能の一部が有効でなくなるときがありますので、ご注意ください。</p>
    <p class="mb-5">以上</p>

  </div>
</div>