// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//タブの通常状態
[role="tab"] {
  //color: #111;
  //アクティブ状態
  &[aria-selected="true"] {
    //color: red;
  }
}

//コンテンツの通常状態
[role="tabpanel"] {
  display: none;

  //表示状態
  &[aria-hidden="false"] {
    display: block;
  }
}

.category_box
{
  background-color: #f5f5f5;
  width: 1120px;
  height: auto;
  //border: 1px solid blue;
  display: flex;
  justify-content: center;
}


.category_button
{
  background-color: #fefefe;
  box-shadow: 0 1px 2px 0 #e5e4e4;
  border-radius: 3.2rem;
  border: none;
  font-feature-settings: "palt";
  letter-spacing: .32px;
  color: #384359;
  line-height: 2.2rem;
  transition: all .3s ease-in-out;
  font-size: medium;
  //border:  1px solid black;
  padding: 0em 1.5em;
  margin: 0.5em;
}


.category_button[aria-selected=true]
{
  //background: #11beae;
  background: #faab05;
  color: #FFFFFF;
  font-weight: bold;
  font-size: medium;
  padding: 0em 1.5em;
  margin: 0.5em;
}

