// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 500px;
  width: 500px;
}

.map-2 {
 margin: 20px auto;
 border: 1px solid;  
}
.map-title {
  letter-spacing: 0.1em;
}

.hensyu {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.container-map {
  background-color: #e8f1f5;
}
