/* ここからheaderの項目を記述 */

  /* 巡グルメアイコン */
  .gurumelogo {
    margin-right: 150px;
  }
  .gurumelogo:hover {
    background: transparent;
  }
  
      /* ナビゲーションバー配置 */
  .navbar {
    position: absolute;
    left: 80px;
    top: 60px;
    z-index: 1;
  }
  
      /* 動画 */
  .container-fluid {
    padding: 0;
    video {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 80vh;
      object-fit: cover;
    }
  }
  
      /* ヘッダー中央コメント */
  .text-center {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-shadow:2px 2px 3px #000;
    font-family: Hiragino Sans;
    letter-spacing: 0.06em;
    position: absolute;
    left: 100px;
    top: 420px;
  }
  .text-sub-center {
    font-size: 25px;
    color: #fff;
    font-family: Hiragino Sans;
    text-shadow:2px 2px 3px #000;
    letter-spacing: 0.05em;
    position: absolute;
    left: 180px;
    top: 500px;
  }
  
      /* ナビゲーションバー各項目 */
  .plan {
    margin-right: 18px;
    margin-left: 500px;
    font-size: 20px;
    text-shadow:2px 2px 3px #000;
  }
  .recommend {
    margin-right: 18px;
    margin-left: 18px;
    font-size: 20px;
    text-shadow:2px 2px 3px #000;
  }
  .login {
    margin-right: 18px;
    margin-left: 18px;
    font-size: 20px;
    text-shadow:2px 2px 3px #000;
  }
  .new-user {
    margin-right: 18px;
    margin-left: 18px;
    font-size: 20px;
    text-shadow:2px 2px 3px #000;
  }
  .navbar-nav li a {
    color: #fff;
  }
  .navbar-nav li a:hover {
    background: transparent;
    text-decoration: none;
  }
  
  .owner-btn {
    position: absolute;
    left: 180px;
    top: 550px;
  }
      
      /* レスポンシブWebデザインのブレークポイント */
  @media screen and (max-width: 1100px) {
    h1.text-center {
      font-size: 30px;
      margin-bottom: 10px;
      position: absolute;
      left: 100px;
      top: 350px;
    }
    p.text-sub-center {
      font-size: 20px;
      margin-bottom: 10px;
      position: absolute;
      left: 130px;
      top: 400px;
    }
    .owner-btn {
      position: absolute;
      left: 180px;
      top: 430px;
    }
  }
  @media screen and (max-width: 991px) {
    .plan {
      margin-top: 10px;
    }
    .recommend {
      margin-top: 10px;
    }
    .login {
      margin-top: 10px;
    }
    .new-user {
      margin-top: 10px;
    }
    h1.text-center {
      font-size: 30px;
      margin-bottom: 10px;
      position: absolute;
      left: 100px;
      top: 350px;
    }
    p.text-sub-center {
      font-size: 20px;
      margin-bottom: 10px;
      position: absolute;
      left: 130px;
      top: 400px;
    }
    .navbar-toggler {
      position: absolute;
      top: 20px;
      left: 600px;
    }
    .navbar-nav {
      width: 200px;
      position: absolute;
      top: 90px;
      left: 580px;
    }
    .navbar-nav li a {
      color: #bedcfa;
    }
    .owner-btn {
      position: absolute;
      left: 180px;
      top: 440px;
    }
  }
  @media screen and (max-width: 850px) {
    .navbar-toggler {
      position: absolute;
      top: 20px;
      left: 500px;
    }
    h1.text-center {
      font-size: 25px;
      margin-bottom: 7px;
    }
  p.text-sub-center {
      font-size: 15px;
      margin-bottom: 10px;
      position: absolute;
      left: 130px;
      top: 380px;
    }
    .navbar-nav {
      width: 200px;
      position: absolute;
      top: 90px;
      left: 480px;
    }
    .navbar-nav li a {
      color: #bedcfa;
    }
  }
  
      /* レスポンシブWebデザインのブレークポイント */
  @media screen and (max-width: 1500px) {
    .plan {
      margin-left: 300px;
    }
  }
  @media screen and (max-width: 1350px) {
    .plan {
      margin-left: 200px;
    }
  }
  @media screen and (max-width: 1200px) {
    .plan {
      margin-left: 20px;
    }
    .gurumelogo {
      margin-right: 50px;
    }
  }

    /* 経営者様はこちらボタン */
  .owner-btn a.btn--pink {
    color: #fff;
    background-color: #eb586f;
  }
  a.btn--pink:hover {  
    color: #fff;
    background: #eb586f;
  }
  a.btn--pink.btn--cubic {
    border-bottom: 5px solid #fd0054;
  }
  a.btn--pink.btn--cubic:hover {
    margin-top: 3px;
    border-bottom: 2px solid #fd0054;
  }
  a.btn-c {
    font-size: 1.1rem;
    position: relative;
    padding: 0.6rem 1.8rem 0.6rem 1.8rem;
    border-radius: 100vh;
  }
  a.btn-c:before {
    font-family: 'Hiragino Sans';
    font-size: 1.6rem;
    line-height: 1;
    position: absolute;
    top: calc(50% - .8rem);
    right: 1rem;
    margin: 0;
    padding: 0;
  }

      /* ハンバーガーメニューアイコン色変更 */
  .navbar-toggler {
    border-color: #fc5c9c;
  }
  .navbar-toggler{
    background-color: transparent;
  }
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .border-solid {
    width: 100vw;
    position: relative;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    background: radial-gradient(#f59e79, #fc3538);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
  }
        /* header項目ここまで */
    
  .f-container{
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display:flex;	
    justify-content: space-around;
    background-color: #f7f7f7;
  }
  .box26 {
    position: relative;
    margin: 30px;
    padding: 0.5em 1em;
    border: solid 3px #fdcfdf;
    border-radius: 30px;
  }
  .box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    height: 50px;
    padding: 0 9px;
    line-height: 1;
    font-size: 23px;
    background: #f7f7f7;
    color: #eb586f;
    font-weight: bold;
  }
  .box26 p {
    margin: 0; 
    padding: 0;
  }
  .comment-text {
    margin-top: 30px;
    font-size: 15px;
    font-family: Hiragino Sans;
    letter-spacing: 0.05em;
    line-height: 2.5;
    color: #393e46;
  }
  
