<div class="input-group">
  <%= form_with(url: search_categories_path, method: :post, local: true) do |f| %>
    <%= f.select :category_id, categories_list(categories), {include_blank: "キーワードからお店を検索してみよう", class: "form-control"} %>
    <%= f.submit "検索" %>
  <% end %>
</div>
