<p id="notice"><%= notice %></p>

<h1>お店のカテゴリー（仮）</h1>

<h6 class="font-weight-bold pt-2"><%= link_to "全店のリスト", shop_list_categories_path %></h6>
<div class="container pt-5 my-5 z-depth-1">
  <section class="p-md-3 mx-md-5 text-lg-left">
    <h2 class="text-center font-weight-bold mb-4 pb-1">お店のカテゴリーから選ぶ</h2>
    <p class="text-center lead mb-5 pb-2 text-muted">気になるカテゴリーを選択して下さい。</p>
      <div class="row">
        <% @categories.each do |category| %><%# カテゴリーを全てeach %>
          <div class="col-lg-4 col-sm-6 mb-5">
            <div class="row d-flex align-items-center">
              <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
                  <%= image_tag category.image_category, class: "img-fluid rounded-circle z-depth-1", Style: "height: 100px" %>
              </div>
              <div class="col-7">
                <h6 class="font-weight-bold pt-2">
                    <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
                </h6>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </section>
</div>
