<div class="container my-5">
  <section class="text-center dark-grey-text">
    <h1 class="font-weight-bold pb-2 mb-4">巡グルメ 加盟店プラン</h1>
    <div class="row">
      <%= render "plans_index" %>
    </div>
  </section>
</div>
