<div class="container my-5">
  <section class="text-center dark-grey-text">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン1</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥<%=  %>/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if params[:session] == @sub.items.data.first.plan.id %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "変更する", plans_update_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, value: params[:session]), method: :patch, data: { confirm: "【確認】プランを変更してしてよろしいでしょうか？" }, class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= @sub.plan %>
