<footer class="page-footer font-small blue pt-4"  style="background-color:#f5c1d2;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
      <a href="/"><%= image_tag 'gurumelogo.jpeg', Style: "height: 100px" %></a>
        <p>巡グルメで始めるサブスクランチ</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">管理者サイト</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Twitterへ</a>
          </li>
          <li>
            <a href="#!">Facebookへ</a>
          </li>
          <li>
            <a href="#!">YouTubeへ</a>
          </li>
          <li>
            <a href="#!">Instagramへ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">カスタマイズ</a>
          </li>
          <li>
            <a href="#!">ショップ事例</a>
          </li>
          <li>
            <a href="/interviews">経営者様インタビュー</a>
          </li>
          <li>
            <a href="/site">サイトについて</a>
          </li>
          <li>
            <a href="/questions">よくある質問</a>
          </li>
          <li>
            <a href="/how_to_use">ご利用方法について</a>
          </li>
          <li>
            <a href="/privacy_policy">プライバシーポリシー</a>
          </li>
          <li>
            <a href="/kiyaku">利用規約</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:巡グルメ公式サイト
  </div>
</footer>
<!-- Footer -->
