<hr class="style4">
<footer class="page-footer font-small blue pt-4"  style="background-color:#99FFFF;">
  <!-- Footer Links -->
  <div class="container-fluid text-under text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <a href="/"><%#= image_tag 'gurumelogo.jpeg', Style: "height: 100px" %></a>
        <p>巡グルメで始めるサブスクランチ</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">管理者サイト</h5>
        <ul class="list-unstyled">
          <li>
          <a class="btn btn-icon btn-facebook" href="https://www.facebook.com/%E5%B7%A1%E3%82%AF%E3%82%99%E3%83%AB%E3%83%A1-105021404885616">
          <i class="fa fa-facebook">
          </i><span>Facebook</span></a>
          </li>
          <li>
          <a class="btn btn-icon btn-twitter" href="https://twitter.com/megurumee">
          <i class="fa fa-twitter">
          </i><span>Twitter</span></a>
          </li>
          <li>
          <a class="btn btn-icon insta_btn" href="https://www.instagram.com/megurume.world">
          <i class="fa  fa-instagram">
          </i><span>Instagram</span></a>
          </li>
          <li>
          <a class="btn btn-icon btn-googleplus2" href="https://lin.ee/PrKWtcm">
          <i class="fa fa-mobile">
          </i><span>LINE@(店舗用)</span></a>
          </li>
          <li>
          <a class="btn btn-icon btn-pinterest" href="https://lin.ee/Rtmhky1">
          <i class="fa fa-mobile">
          </i><span>LINE@(利用者様用)</span></a>
          </li>
        </ul>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
          <li>
            <a href="#!">カスタマイズ</a>
          </li>
          <li>
            <a href="/subscriptions/shop_case">ショップ事例</a>
          </li>
          <li>
            <a href="/interviews">経営者様インタビュー</a>
          </li>
          <li>
            <a href="/site">サイトについて</a>
          </li>
          <li>
            <a href="/questions">よくある質問</a>
          </li>
          <li>
            <a href="/how_to_use">ご利用方法について</a>
          </li>
          <li>
            <a href="/privacy_policy">プライバシーポリシー</a>
          </li>
          <li>
            <a href="/kiyaku">利用規約</a>
          </li>
          <li>
            <a href="/specified_commercial_transaction_law">特定商取引法に基づく表記</a>
          </li>
          <li>
            <a href="/company_profil">会社概要</a>
          </li>
        </ul>
        <div class="right">
          <a class="sns_btn btn_facebook" href="https://facebook.com/" rel="author">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="sns_btn btn_twitter" href="https://twitter.com/" rel="author">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a class="sns_btn btn_email" href="https://mail.google.com/" rel="author">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-under py-3">© 2021 Copyright:巡グルメ公式サイト
  </div>
</footer>
<!-- Footer --> 
