<hr class="style4">
<footer class="page-footer font-small blue pt-4"  style="background-color:#99FFFF;">
  <!-- Footer Links -->
  <div class="container-fluid text-under text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <a href="/"><%#= image_tag 'gurumelogo.jpeg', Style: "height: 100px" %></a>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <ul class="list-unstyled">
        <% if current_owner.present? %>
          <li>
            <a href="/owners/:owner_id/subscriptions">カスタマイズ</a>
          </li>
        <% end %>
          <li>
            <a href="/subscriptions/shop_case">ショップ事例</a>
          </li>
          <li>
            <a href="/interviews">経営者様インタビュー</a>
          </li>
          <li>
            <a href="/site">サイトについて</a>
          </li>
          <li>
            <a href="/questions">よくある質問</a>
          </li>
          <li>
            <a href="/how_to_use">ご利用方法について</a>
          </li>
          <li>
            <a href="/privacy_policy">プライバシーポリシー</a>
          </li>
          <li>
            <a href="/kiyaku">利用規約</a>
          </li>
          <li>
            <a href="/specified_commercial_transaction_law">特定商取引法に基づく表記</a>
          </li>
          <li>
            <a href="/company_profile">会社概要</a>
          </li>
        </ul>
        <div class="right">
          <a class="sns_btn btn_facebook" href="https://facebook.com/" rel="author">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a class="sns_btn btn_twitter" href="https://twitter.com/" rel="author">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a class="sns_btn btn_email" href="https://mail.google.com/" rel="author">
            <i class="fa fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-under py-3">© 2021 Copyright:巡グルメ公式サイト
  </div>
</footer>
<!-- Footer --> 
