<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Subscription_mall", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">ホーム</a></li>
        <li><a href="#category">カテゴリ</a></li>
        <li><a href="#plan">プラン</a></li>
        <li><a href="#recommend">おすすめ店舗</a></li>
        <li><a href="#service">サービス</a></li>
        <li><a href="#inquiry">お問い合わせ</a></li>
        <li><%= link_to "ショップ開設", '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>